[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AID"]
	path = AID
	url = https://github.com/cran/AID
[submodule "GMDH2"]
	path = GMDH2
	url = https://github.com/cran/GMDH2
[submodule "SurvivalTests"]
	path = SurvivalTests
	url = https://github.com/cran/SurvivalTests
[submodule "Transform"]
	path = Transform
	url = https://github.com/cran/Transform
[submodule "onewaytests"]
	path = onewaytests
	url = https://github.com/cran/onewaytests
[submodule "twowaytests"]
	path = twowaytests
	url = https://github.com/cran/twowaytests
